:root {
    --bg-color: #212121;
    --bg-opposite-color: lightgray;
    --text-color: lightgray;
    --text-opposite-color: #212121;
    --row-height: 2rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a{
    text-decoration: none;
}
/* === Header === */

#top-nav-bar{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: fit-content;
}

#top-nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#top-nav-bar li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* === Main === */

#schedule-list{
    width: 90vw;
    height: 60vh; /* for testing */
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.schedule-row{
    margin: 0.25rem;
    width: 98%;
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.25rem;
}

.schedule-priority{
    background-color: aliceblue;
    height: var(--row-height);
    width: var(--row-height);
    position: absolute;
    top: 0;
    overflow: hidden;
}

.schedule-priority:hover{
    height: calc(var(--row-height) + 1.75rem);
    width: calc(var(--row-height) + 3rem);
    overflow: visible;
}

.schedule-content{
    margin-left: calc(var(--row-height) + 0.25rem);
    flex: 3;
    min-width: 0;
    height: var(--row-height);
}

.schedule-time{
    height: var(--row-height);
}

.schedule-deadline{
    height: var(--row-height);
}

.schedule-notify{
    min-height: var(--row-height);
    min-width: var(--row-height);
}

.schedule-delete{
    min-height: var(--row-height);
    min-width: var(--row-height);
}

#add-schedule{
    margin: 0.5rem;
}