:root {
    --bg-color: #212121;
    --bg-opposite-color: lightgray;
    --text-color: lightgray;
    --text-oposite-color: #212121;
    --task-height: 2rem;
    --task-width: 5vh;

}

body {
    margin: 5vh 0 0 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a{
    text-decoration: none;
}
/* === Header === */

#top-navbar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 95vh;
    right: 0;
}

#top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#top-navbar li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* === Main === */

main{
    display: block;
}

#task-list-table{
    width: 90vw;
    height: 60vh; /* for testing */
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

.task{
    display: flex;
    gap: 8px;
}

.task-color{
    background-color: aliceblue;
    height: var(--task-height);
    width: var(--task-height);
    display: inline-block;
    overflow: hidden;
    transition: height 0.3s ease, width 0.3s ease;
}

.task-color:hover{
    height: calc(var(--task-height) + 4rem);
    width: calc(var(--task-height) + 3rem);
    overflow: visible;
}

.task-content{
    flex: 3;
    height: var(--task-height);
}

.task-time{
    flex: 1;
    height: var(--task-height);
}

.task-deadline{
    flex: 1;
    height: var(--task-height);
}

.task-notifier{
    height: var(--task-height);
    width: var(--task-height);
}

.task-delete-btn{
    height: var(--task-height);
    width: var(--task-height);
}

#add-task-btn{
    align-self: center;
}